

<app-breadcrumb></app-breadcrumb>
<table class="table">
    
  <thead class="thead-dark">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Estabelecimento</th>
      <th scope="col">Endereço</th>
      <th scope="col">Cidade</th>
      <th scope="col">UF</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Telefone</th>
      <th scope="col">Padrão</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of lista'>
      <th scope="row">{{ item.cod }}</th> 
      <td>{{ item.nome }}</td>
      <td>{{ item.lograd }}</td>
      <td>{{ item.cidade }}</td>
      <td>{{ item.uf }}</td>
      <td>{{ item.cnpj }}</td>
      <td>{{ item.tel1 }}</td>
      <td>{{ item.padrao }}</td>
      <td>
        <button 
          class="btn btn-primary"
          routerLink='/estabelecimento-details' [queryParams]='eventosEstab' (click)='selecionaItem([(item.cod)])'>
            Editar
        </button>
      </td>
    </tr>
    
  </tbody>
</table>





