<!-- verificar campos para gravação junto ao Iverson -ver erros no log da aplicação- -->

<form (ngSubmit) = "onSubmit()" 
      #dadosGerais = "ngForm" >

  <div  *ngIf = 'estabelecimento'
        class = "accordion"
        id = "accordion">

    <!-- CARD 1 -->
    <div class = "card">
      <div  class = "card-header" 
            id = "headingOne">
        <h5 class = "mb-0">
          <button class = "btn btn-link"
                  type = "button"
                  data-toggle = "collapse"
                  data-target = "#collapseOne"
                  aria-expanded = "true"
                  aria-controls = "collapseOne">
                  Dados Gerais
          </button>
        </h5>
      </div>
      <!-- PARAMETROS -->
      <div  id = "collapseOne"
            class = "collapse" 
            aria-labelledby = "headingOne" 
            data-parent = "#accordionExample">

        <div class = "card-body">
          
            <div class = "form-group form-check">
              <input  type = "checkbox" 
                      class = "form-check-input" 
                      id = "padrao">

              <label  class = "form-check-label" 
                      for = "padrao">Padrão
              </label>
            </div>

            <div class = "form-group">
              <label  for = "inputCod">Cod</label>
              <input  [readonly] = "cod" 
                      type = "text" 
                      class = "form-control" 
                      id = "estab"
                      name = "estab" 
                      aria-describedby = "inputCod" 
                      [(ngModel)]  =  "estabelecimento.estab">
            </div>

            <div class = "form-group">
              <label  for = "cnpj">CNPJ</label>
              <input  type = "text" 
                      class = "form-control" 
                      id = "cnpj" 
                      name = "cnpj" 
                      aria-describedby = "cnpj"
                      [(ngModel)] = "estabelecimento.cnpj">
            </div>

            <div class = "form-group">
              <label  for = "nome">Nome</label>
              <input  type = "text" 
                      class = "form-control" 
                      id = "nome"
                      name = "nome" 
                      aria-describedby = "nome" 
                      [(ngModel)]  =  "estabelecimento.nome">
            </div>

            <div class = "form-group">
              <label  for = "nome">Razão Social</label>
              <input  type = "text" 
                      class = "form-control" 
                      id = "razao"
                      name = "razao" 
                      aria-describedby = "razao" 
                      [(ngModel)]  =  "estabelecimento.razao">
            </div>

        </div>
      </div>
    </div>
    <!-- CARD 1 END -->

    <!-- CARD 2  -->
    <div class = "card">
      <div  class = "card-header" 
            id = "headingTwo">
        <h5 class = "mb-0">
          <button class = "btn btn-link" 
                  type = "button" 
                  data-toggle = "collapse" 
                  data-target = "#collapseTwo" 
                  aria-expanded = "true" 
                  aria-controls = "collapseTwo">
                  Endereço
          </button>
          <span></span>
        </h5>
      </div>
      <div  id = "collapseTwo" 
            class = "collapse" 
            aria-labelledby = "headingTwo" 
            data-parent = "#accordionExample">
        <div class = "card-body">
          
            <button class = "btn btn-go">Buscar Endereço</button>
            <br>
            
            <div  class = "form-group">
              <label  for = "lograd">Endereço</label>
              <input  type = "text" 
                      class = "form-control" 
                      id = "lograd"
                      nome = "lograd"
                      [(ngModel)] = "estabelecimento.lograd">
            </div>

            <div class = "form-group">
              <label  for = "inputNumero">Número</label>
              <input  type = "number" 
                      class = "form-control" 
                      id = "inputNumero"
                      nome = "num"
                      aria-describedby = "inputNumero" 
                      [(ngModel)] = "estabelecimento.num" >
            </div>
            <div class = "form-group">
              <label  for = "uf">UF</label>
              <input  type = "text"
                      class = "form-control" 
                      id = "uf"
                      nome = "uf"
                      aria-describedby = "uf" 
                      [(ngModel)] = "estabelecimento.uf" >
            </div>
            <div  class = "form-group">
              <label  for = "cep">CEP</label>
              <input  type = "text"
                      class = "form-control"
                      id = "cep"
                      nome = "cep"
                      aria-describedby = "cep"
                      [(ngModel)] = "estabelecimento.cep" >
            </div>
            <div  class = "form-group">
              <label  for = "cidade">Cidade</label>
              <input  type = "text" 
                      class = "form-control" 
                      id = "cidade" 
                      nome = "cidade"
                      aria-describedby = "cidade" 
                      [(ngModel)] = "estabelecimento.cidade" >
            </div>
            
          
        </div>
      </div>
    </div>
    <!-- CARD 2 END -->

    <!-- CARD 3  -->
    <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Contato
          </button>
          </h5>
        </div>
        <!-- PARAMETROS -->
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="inputEmail" value="{{ estabelecimento.email }}">
              </div>
              <div class="form-group">
                <label for="inputTelefone1">Telefone 1</label>
                <input type="tel" class="form-control" id="inputTelefone1" aria-describedby="inputTelefone1" value="{{ estabelecimento.tel1 }}">
              </div>
              <div class="form-group">
                  <label for="inputTelefone2">Telefone 2</label>
                  <input type="tel" class="form-control" id="inputTelefone2" aria-describedby="inputTelefone2" value="{{ estabelecimento.tel2 }}">
              </div>
              <div class="form-group">
                <label for="inputContat"o>Contato</label>
                <input type="text" class="form-control" id="inputContat" aria-describedby="inputContat" value="{{ estabelecimento.contato }}">
              </div>
            
          </div>
        </div>
    </div>
    <!-- CARD 3 END -->

    <!-- CARD 4 -->
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Configurações
          </button>
          </h5>
        </div>
        <!-- PARAMETROS -->
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="CheckConfig">
                <label class="form-check-label" for="CheckConfig">Movimentar estoques a partir dos procedimentos</label>
              </div>
              <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="CheckConfig">
                  <label class="form-check-label" for="CheckConfig">Relacionar automaticamente os usúarios</label>
                </div>
            
          </div>
        </div>
    </div>
    <!-- CARD 4 END -->
    <div>
      <a class="btn btn-primary" (click)="saveEstab()">Salvar</a>
    </div>
  </div>
</form>
