
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">UF</th>
      <th scope="col">Cidade</th>
      <th scope="col">Fone</th>
      <th scope="col">Celular</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of listaProfExt'>
      <th scope="row">{{ item.cod_registro }}</th> 
      <td>{{ item.nome }}</td>
      <td>{{ item.uf }}</td>
      <td>{{ item.cidade }}</td>
      <td>{{ item.fone }}</td>
      <td>{{ item.celular }}</td>
      <td><button 
          class="btn btn-primary"
          routerLink='/estabelecimento-details'>
            Editar
          </button></td>
    </tr>
  </tbody>
</table>


